// Vendor
@import 'vendor/_normalize.scss';

// Mixins

// Modules

// Partials
@import 'partials/_layout.scss';
@import 'partials/_header.scss';
@import 'partials/_nav.scss';
@import 'partials/_footer.scss';

// Pages
@import 'pages/_home.scss';
















